.header {
	background: #222 url(../images/all_car_header_bg.jpg) no-repeat center top;
	background-size: cover;
	height: 60vh;
}
.group1 {
	border: solid 1px rgba(77, 90, 107, 0.4);
	background-color: rgba(77, 90, 107, 0.3);
	width: 67%;
	margin: 0 auto;
	text-align: center;
	margin-top: 12vh;
}
.group1 h1 {
	font-size: 3rem;
	margin: 3vh 0;
	letter-spacing: 0.3rem;
}
a[href*='all_car'] {
	color: rgb(255, 108, 0);
}