.header {
	background: #222 url(../images/header_bg1.jpg) no-repeat center top;
	background-size: cover;
	height: 100vh;
}
.group1 {
	width: 45%;
	max-width: 	700px;
	background-color: rgba(77, 90, 107, 0.3);
	padding: 1px 10px 10px 1rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.group1 h1 {
	font-size: 3rem;
}
#wrapper_hide {
	overflow: hidden;
}
.about_use p {
	padding: 0 1rem;
	line-height: 1.5rem;
	font-weight: 600;
}
.about_use_text {
	width: 51%;
}
.about_use_text p {
	margin: 0;
}
.about_use_wrap {
	position: relative;
}
.about_use_wrap img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 55%;
	height: 98%;
	width: inherit;
}
a[href*='index'] {
	color: rgb(255, 108, 0);
}