.header {
	background: #222 url(../images/bg.jpg) no-repeat 10% top;
	height: 100vh;
}
.container_group1 {
	display: flex;
	justify-content:center;
	align-items: center;
}
.group1 {
	width: 67%;
	text-align: center;
}
.group1 h1 {
	font-size: 3rem;
	margin: 3vh 0;
	letter-spacing: 0.3rem;
	background-color: rgba(77, 90, 107, 0.3);
	padding: 1.5rem 0;
}
.button {
	background-color:rgb(255, 108, 0);
	color: #fff;
}
.button:hover{
	color: rgb(255, 80, 0);
	background-color:#fff;
}